In [ ]:
#Importing libraries
import numpy as np
import pandas as pd

In [ ]:
#Reading the dataset
restaurants = pd.read_csv('DelhiNCR Restaurants.csv')

In [ ]:
#To filter out the useful columns for my recommendation
restaurants=restaurants[['Restaurant_Name','Category','Pricing_for_2','Locality','Dining_Rating','Dining_Review_Count','Website','Known_For2','Known_For22']]
#To find the number of NULL values in each column
restaurants.isnull().sum()

Restaurant_Name          0
Category                 0
Pricing_for_2            0
Locality                 0
Dining_Rating            0
Dining_Review_Count      0
Website                  0
Known_For2             405
Known_For22            841
dtype: int64

In [ ]:
lcfa_rest=restaurants

In [ ]:
lcfa_rest=lcfa_rest.dropna(subset=['Known_For22'])

In [ ]:
lcfa_rest=lcfa_rest.reset_index()
lcfa_rest = lcfa_rest.rename(columns={'index': 'old_index'})

In [ ]:
lcfa_rest.to_csv('lcfa_rest.csv')