In [ ]:
#Importing libraries
import numpy as np
import pandas as pd

In [ ]:
#Reading the dataset
restaurants = pd.read_csv('DelhiNCR Restaurants.csv')

In [ ]:
#To filter out the useful columns for my recommendation
restaurants=restaurants[['Restaurant_Name','Category','Pricing_for_2','Locality','Dining_Rating','Dining_Review_Count','Known_For2','Known_For22']]
#To find the number of NULL values in each column
restaurants.isnull().sum()

Restaurant_Name          0
Category                 0
Pricing_for_2            0
Locality                 0
Dining_Rating            0
Dining_Review_Count      0
Known_For2             405
Known_For22            841
dtype: int64

In [ ]:
lc_rest=restaurants
lcf_rest=restaurants
lcfa_rest=restaurants

In [ ]:
lcfa_rest=lcfa_rest.dropna(subset=['Known_For22'])

In [ ]:
lcfa_rest=lcfa_rest.reset_index()
lcfa_rest = lcfa_rest.rename(columns={'index': 'old_index'})

In [ ]:
lcfa_rest.to_csv('lcfa_rest.csv')

In [ ]:
lc_rest=lc_rest.loc[lc_rest.isnull().any(axis=1),:]

In [ ]:
lc_rest=lc_rest.drop(['Known_For22'],axis=1)

In [ ]:
lc_rest=lc_rest.loc[lc_rest.isnull().any(axis=1),:]
lc_rest

,Restaurant_Name,Category,Pricing_for_2,Locality,Dining_Rating,Dining_Review_Count,Known_For2
0,Rustom's,"Parsi, Street Food, North Indian, Desserts, Be...",2100,"ITO, New Delhi",4.9,1885,NaN
11,Viet:Nom,"Vietnamese, Beverages",2000,"Cyber Hub, DLF Cyber City, Gurgaon",4.8,1381,NaN
14,Pa Pa Ya,"Asian, Chinese, Thai, Japanese, Sushi, Malaysi...",2500,"Select Citywalk Mall, Saket, New Delhi",4.8,4077,NaN
17,PizzaExpress,"Fast Food, Italian, Beverages, Desserts",1000,"Ambience Mall, DLF Phase 3, Gurgaon",4.8,3077,NaN
19,Music & Mountains - Hillside Cafe,"Cafe, Italian, Continental, Fast Food, Salad, ...",2100,"M Block Market, Greater Kailash 1 (GK1), New ...",4.7,3731,NaN
...,...,...,...,...,...,...,...
1947,Chaudhary Dhaba,North Indian,300,"Sector 31, Faridabad",3.9,154,NaN
1949,N D Chicken Corner,"North Indian, Chinese",400,"Indirapuram, Ghaziabad",3.9,49,NaN
1950,Hungry La,"North Indian, Fast Food",200,"DLF Phase 3, Gurgaon",3.9,5,NaN
1957,Ricks Bar - The Taj Mahal Hotel,"Malaysian, Thai",4200,"The Taj Mahal Hotel, Mansingh Road, New Delhi",3.9,95,NaN
1959,Cocoberry,"Frozen Yogurt, Desserts, Beverages",400,"M Block Market, Greater Kailash 1 (GK1), New ...",3.9,219,NaN

In [ ]:
lc_rest=lc_rest.drop(['Known_For2'],axis=1)

In [ ]:
lc_rest.shape

(405, 6)

In [ ]:
lc_rest=lc_rest.reset_index()
lc_rest = lc_rest.rename(columns={'index': 'old_index'})

In [ ]:
lc_rest.to_csv("lc_rest.csv")

In [ ]:
lcf_rest=lcf_rest.loc[lcf_rest.isnull().any(axis=1),:]

In [ ]:
lcf_rest

,Restaurant_Name,Category,Pricing_for_2,Locality,Dining_Rating,Dining_Review_Count,Known_For2,Known_For22
0,Rustom's,"Parsi, Street Food, North Indian, Desserts, Be...",2100,"ITO, New Delhi",4.9,1885,NaN,NaN
2,Dum-Pukht - ITC Maurya,"Mughlai, North Indian, Desserts",5000,"ITC Maurya, Chanakyapuri, New Delhi",4.9,1371,"Royal ambiance and Mughlai cuisine, also recei...",NaN
11,Viet:Nom,"Vietnamese, Beverages",2000,"Cyber Hub, DLF Cyber City, Gurgaon",4.8,1381,NaN,NaN
13,Sana-Di-Ge,"Mangalorean, Seafood, Goan, South Indian, Nort...",2200,"Chanakyapuri, New Delhi",4.8,2038,"Interiors and the outdoor seating , along with...",NaN
14,Pa Pa Ya,"Asian, Chinese, Thai, Japanese, Sushi, Malaysi...",2500,"Select Citywalk Mall, Saket, New Delhi",4.8,4077,NaN,NaN
...,...,...,...,...,...,...,...,...
1959,Cocoberry,"Frozen Yogurt, Desserts, Beverages",400,"M Block Market, Greater Kailash 1 (GK1), New ...",3.9,219,NaN,NaN
1960,Bablu Chic-Inn,"Mughlai, North Indian, Chinese, Fast Food",500,"Ashok Vihar Phase 3, New Delhi",3.9,183,"Great Recommendations, Tamper Proof Packaging,...",NaN
1962,Krips Restaurant,"North Indian, Chinese, Mughlai",900,"Basant Lok Market, Vasant Vihar, New Delhi",3.9,316,"Excellent Food, Good Ambience, Courteous Staff...",NaN
1963,Cafe 147,"Cafe, North Indian, Chinese, Kashmiri, Rolls, ...",800,"Sainik Farms, New Delhi",3.9,120,"Pool, Live Music, Cafe, Environment, Good Plac...",NaN
1964,Pizzasia,"Pizza, Fast Food, Beverages",500,"Gaur City 2, Greater Noida",3.9,165,"Cordial Staff, Great Recommendations, Mouth Wa...",NaN

In [ ]:
lcf_rest=lcf_rest.drop(['Known_For22'],axis=1)

In [ ]:
lcf_rest=lcf_rest.dropna()

In [ ]:
lcf_rest.shape

(436, 7)

In [ ]:
lcf_rest=lcf_rest.reset_index()
lcf_rest = lcf_rest.rename(columns={'index': 'old_index'})

In [ ]:
lcf_rest

,old_index,Restaurant_Name,Category,Pricing_for_2,Locality,Dining_Rating,Dining_Review_Count,Known_For2
0,2,Dum-Pukht - ITC Maurya,"Mughlai, North Indian, Desserts",5000,"ITC Maurya, Chanakyapuri, New Delhi",4.9,1371,"Royal ambiance and Mughlai cuisine, also recei..."
1,13,Sana-Di-Ge,"Mangalorean, Seafood, Goan, South Indian, Nort...",2200,"Chanakyapuri, New Delhi",4.8,2038,"Interiors and the outdoor seating , along with..."
2,25,Bo Tai,"Thai, Japanese, Asian, Beverages",2500,"Mehrauli, New Delhi",4.7,1194,The restaurant uses Bamboo and Copper straws a...
3,30,Greenr Cafe,"Cafe, Italian, Mexican, Salad, Healthy Food, D...",1200,"32nd Avenue, NH8, Gurgaon, Gurgaon",4.7,954,"A conscious and community oriented space, focu..."
4,42,Echoes Living Room,"Cafe, Continental, Chinese, Fast Food, Dessert...",800,"Subhash Nagar, New Delhi",4.7,3,"Cafe, Continental, American, Italian, Mexican,..."
...,...,...,...,...,...,...,...,...
431,1958,Glued Reloaded,"Cafe, Fast Food, Rolls",1000,"Sector 41, Noida",3.9,455,"Fun Place, Hookah, Sheesha, Cool Place, Decent..."
432,1960,Bablu Chic-Inn,"Mughlai, North Indian, Chinese, Fast Food",500,"Ashok Vihar Phase 3, New Delhi",3.9,183,"Great Recommendations, Tamper Proof Packaging,..."
433,1962,Krips Restaurant,"North Indian, Chinese, Mughlai",900,"Basant Lok Market, Vasant Vihar, New Delhi",3.9,316,"Excellent Food, Good Ambience, Courteous Staff..."
434,1963,Cafe 147,"Cafe, North Indian, Chinese, Kashmiri, Rolls, ...",800,"Sainik Farms, New Delhi",3.9,120,"Pool, Live Music, Cafe, Environment, Good Plac..."
435,1964,Pizzasia,"Pizza, Fast Food, Beverages",500,"Gaur City 2, Greater Noida",3.9,165,"Cordial Staff, Great Recommendations, Mouth Wa..."

In [ ]:
lcf_rest.to_csv("lcf_rest.csv")