In [ ]:
#Importing libraries
import numpy as np
import pandas as pd

In [ ]:
#Reading the dataset
lcfa_rest = pd.read_csv('/content/lcfa_rest.csv')

In [ ]:
#Showing the first 5(default) rows of the dataset
lcfa_rest.head()

,Index,old_index,Restaurant_Name,Category,Pricing_for_2,Locality,Dining_Rating,Dining_Review_Count,Known_For2,Known_For22
0,0,1,Cafe Lota,"Cafe, South Indian, North Indian, Beverages",1200,"Pragati Maidan, New Delhi",4.9,3748,"Pondicherry Fish Curry, Coconut Rabdi, Sabudan...","Artistic Decor, The Service, Natural Ambience,..."
1,1,3,Burma Burma,"Asian, Burmese, Bubble Tea, Desserts, Salad",1600,"Cyber Hub, DLF Cyber City, Gurgaon",4.9,2636,"Coconut Milk Dessert, Honey Caviar, Kaffir Lim...","Knowledgeable Staff, Authentic, Soothing Ambie..."
2,2,4,The Big Chill,"Continental, American, Italian",1500,"Khan Market, New Delhi",4.9,6487,"Irish Cream Tiramisu, Penne Vodka, Mississippi...","Retro Ambience, Yummy Desserts, Big Portions, ..."
3,3,5,Carnatic Cafe,South Indian,600,"Lodhi Colony, New Delhi",4.9,2518,"Malleshwari Dosa, Benne Khali Dosa, Obbattu, R...","Cosy Ambience, Live Kitchen, Quiet Place, Calm..."
4,4,6,"Cocktails & Dreams, Speakeasy","Nepalese, Tibetan, Beverages",2500,"Sector 15, Gurgaon",4.9,1299,"Classic Martini, Coktails, Bloody Mary, Calama...","Jazz Music, Band Playing, Bartender, Live Band..."

In [ ]:
# Finding the number of rows and columns in the dataset
lcfa_rest.shape

(1124, 10)

In [ ]:
#To change 'category' to a list of items
lcfa_rest['Category']=lcfa_rest['Category'].apply(lambda x:x.split(","))
#To change 'locality' to a list of items
lcfa_rest['Locality']=lcfa_rest['Locality'].apply(lambda x:x.split(","))
#To change the 'Known_For2' to a list of items
lcfa_rest['Known_For2']=lcfa_rest['Known_For2'].apply(lambda x:x.split(" "))
#To change the 'Known_For22' to a list of items
lcfa_rest['Known_For22']=lcfa_rest['Known_For22'].apply(lambda x:x.split(" "))

In [ ]:
#To make a new dataframe 'model_lc_rest' having only 3 columns from lc_rest
model_lcfa_rest=lcfa_rest[['Restaurant_Name','Category','Locality','Known_For2','Known_For22']]
#To remove the space present in between consecutive words in the column 'Category' and 'Locality'
model_lcfa_rest['Category']=model_lcfa_rest['Category'].apply(lambda x:[i.replace(" ","") for i in x])
model_lcfa_rest['Locality']=model_lcfa_rest['Locality'].apply(lambda x:[i.replace(' ','') for i in x])
#To make a new column tags having all the words of columns 'Category' and 'Locality'
model_lcfa_rest['tags']=model_lcfa_rest['Category']+model_lcfa_rest['Locality']+model_lcfa_rest['Known_For2']+model_lcfa_rest['Known_For22']
#To drop the columns 'Category' and 'Locality'
model_lcfa_rest=model_lcfa_rest.drop(['Category','Locality','Known_For2','Known_For22'],axis=1)
#To form a string from the list present in the column 'Tags'
model_lcfa_rest['tags']=model_lcfa_rest['tags'].apply(lambda x:" ".join(x))
#To make all the alphabets in lowercase
model_lcfa_rest['tags']=model_lcfa_rest['tags'].apply(lambda x:x.lower())
#To get the first five rows displayed
model_lcfa_rest.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

,Restaurant_Name,tags
0,Cafe Lota,cafe southindian northindian beverages pragati...
1,Burma Burma,asian burmese bubbletea desserts salad cyberhu...
2,The Big Chill,continental american italian khanmarket newdel...
3,Carnatic Cafe,southindian lodhicolony newdelhi malleshwari d...
4,"Cocktails & Dreams, Speakeasy",nepalese tibetan beverages sector15 gurgaon cl...

In [ ]:
#To import 'CountVectorizer', a function to vectorise the string
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=2260, stop_words='english')

In [ ]:
#To see the occurrance of each word in each restaurant
vectors=cv.fit_transform(model_lcfa_rest['tags']).toarray()

In [ ]:
#To get the shape of the vectors
vectors.shape

(1124, 2260)

In [ ]:
#Import the library for calculating similarity matrix
from sklearn.metrics.pairwise import cosine_similarity
similarity=cosine_similarity(vectors)

In [ ]:
res_list=[]
for rest_index in range(1124):
  distances = similarity[rest_index]
  #To give a list of similar restaurants sorted in descending order
  res_list.append(sorted(list(enumerate(list(distances))),reverse=True,key=lambda x:x[1])[1:11])

In [ ]:
# Importing the library
import json

In [ ]:
# Writing the list of similar restaurnts to a json file
with open('lcfa_rest.json','w') as f:
  json.dump(res_list,f)